# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a __sequence__, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a __specific order__. This means we will be able to use __indexing__ to grab particular letters (like the first letter, or the last letter).

__This idea of a sequence is an important one in Python__ and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [1]:
# Single word
'hello'

'hello'

In [7]:
# Entire phrase 
'This is a string too!'

'This is a string too!'

In [5]:
# Use double quote now
"String built with double quotes"

'String built with double quotes'

In [8]:
# Don't use single quotes within a single quotes string!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (3804105341.py, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use 1) single quote within a douboe quoted string or 2) double quote within a single quoted string

In [19]:
"Let's use the single quotes inside a string!"

"Let's use the single quotes inside a string!"

In [3]:
# Exercise: make a string with double quote inside single quotes
#'His first name is "XXX"!'

Now let's learn about printing strings!

## Printing a String
Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your program is by using a print function.

In [6]:
# We can simply declare a string
'Hello World'

'Hello World'

In [7]:
# If you declare multiple strings, only the last one will be displayed
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [9]:
print('Hello World')
print('Insert a new line \n here')
print('\n')
print('See how these look like?')

Hello World
Insert a new line
 here


See how these look like?

## String Basics

We can also use a function called len() to check the length of a string!

In [10]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a __sequence__, which means Python can use __indexes__ to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [1]:
# Assign s as a string
s = 'Hello World'

In [2]:
#Check
s

'Hello World'

In [3]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [4]:
# Show first element (in this case a letter)
s[0]

'H'

In [5]:
s[1]

'e'

In [6]:
s[2]

'l'

We can use a <code>:</code> to perform __*slicing*__ which grabs everything up to a designated point. For example:

In [8]:
# Grab everything past the first element all the way to the length of s which is len(s)
s[1:]

'ello World'

In [9]:
# Note that there is no change to the original s
s

'Hello World'

In [14]:
'''
Grab everything UP TO the 3rd index
Note: only the first (s[0]), the second (s[1]) and third third (s[2]) element are shown!!!
'''
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [15]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [17]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [18]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use <code>index</code> and <code>slice</code> notation to grab elements of a sequence by a specified __step size__ 

__Syntax__
<br>string[start:end:step]</br>

Note: you may skip start end or step. (the default for start is 0, end is the last element and the step size is 1)

For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [19]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [20]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [22]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [26]:
# Grab everything, starting from 0 th element, until the last element (default is last), step size is 2
s[0::2]

'HloWrd'

In [27]:
# Grab everything, starting from 1st element, until the last element, step size is 2
s[1::2]

'el ol'

In [29]:
# Grab everything, starting from 0th elment, until the last element, step size is 2
s[:-1:2]

'HloWr'

In [32]:
# Exercise: Grab everything starting from 1st element, until the last element, step size is 2

## String Properties
It's important to note that strings have an important property known as __immutability__. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [33]:
s

'Hello World'

In [34]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [43]:
s = "Hello World"

In [44]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [45]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [46]:
print(s)

Hello World concatenate me!

In [47]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [48]:
letter = 'z'

In [49]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [50]:
s

'Hello World concatenate me!'

In [51]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [52]:
# Lower case
s.lower()

'hello world concatenate me!'

In [53]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [55]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [57]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'