In [1]:
def myfunc(x):
    return x*x

In [3]:
list1 = [1,2,3,4]
list(map(myfunc, list1))

[1, 4, 9, 16]

In [5]:
def myfunc1(x):
    return x % 2 == 0
list(filter(myfunc1, [1,2,3,4]))

[2, 4]

In [7]:
from functools import reduce

In [9]:
def myfunc2(x, y):
    return x+y
reduce(myfunc2, [1,2,3,4])

10

In [12]:
square = lambda num: num**2
square(2)

4

In [15]:
first_letter = lambda s: s[0]
first_letter("Sunday")

'S'

In [17]:
reverse = lambda s: s[::-1]
reverse(["Hello", "World"])

['World', 'Hello']

In [1]:
add = lambda x, y: x+y
add(2,3)

5

In [5]:
compare = lambda x, y: x if x >= y else y

In [6]:
compare(3,4)

4

In [17]:
even_test = lambda x: True if x % 2 == 0 else False

In [18]:
even_test(2)

True

NameError: name 'TRUE' is not defined