# Tuple, Set and Booleans Exercise

## Review

### Tuples
1. Tuples are very similar to lists, however, unlike lists they are **immutable** meaning they **can not** be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.
2. We can construct tuples by using **()** with elements separated by commas.
    - Example: t = (1, 2, "three")
3. We can use "[]" and ":" to perform indexing or slicing on tuples like we did on strings or lists.
4. __Basic Tuple Methods:__ 
    - Use .index to enter a value and return the index.
        - Example: t.index(2)
    - Use .count to count the number of times a value appears.
        - Example: t.count(1)

### Sets

1. Sets is an **unordered** collection of **unique** elements. 
2. We can construct sets by using the **set()** function, followed by the add method. 
    - Example: s1 = set() s1.add(x)
3. We can also construct sets by using **{}** with elements separated by commas.
    - Example: s2 = {1, 2, 3, 4, "Test me!"}
4. You may add the same item multiple times to a set, but the set will only store one of such item in it.
    - Example: s3 = {1, 1, 2, 2, 3, 4, 5, 5} s4 = {5, 4, 3, 2, 1}. S3 will be equal to s4.

### Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

## Exercise Section

### Tuples

In [ ]:
# What is the major difference between tuples and lists?
# Tuples are immutable while lists are mutable

In [ ]:
# Create a tuple t with 4 items
t = (1, 3, 5, 7)

In [2]:
# Use a built-in function, return the number of occurences of 2 in tuple t
t = (1, 2, 3, 2, 5, 6, 2, 5)

t.count(2)

3

In [3]:
# Use a built-in function, return the first index of 5
t.index(5)

4

### Sets

In [ ]:
# What is unique about a set?

In [5]:
# Create a set with 3 items: item1 = 'Beautiful Sunday', item2 = 12, item3 = 3.5. Show the set.
# Method 1
s1 = set()
s1.add('Beautiful Sunday')
s1.add(12)
s1.add(3.5)
print(s1)

{'Beautiful Sunday', 3.5, 12}

In [6]:
# Method 2
s2 = {'Beautiful Sunday', 12, 3.5}
print(s2)

{'Beautiful Sunday', 3.5, 12}

In [7]:
# Use a set to find the unique values of the list below: 
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [8]:
# Are these two sets the same?
# s1 = {1, 2, 4, 1, 3, 4, 8}
# s2 = {1, 2, 3, 4, 8}
s1 == s2

True

### Booleans

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [ ]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

print(l_one[2])
print(l_one[2][0])
print(l_two[2])
print(l_two[2]['k'])