In [1]:
print('{0} and {1}'.format('san jose','santa clara'))

san jose and santa clara

In [2]:
print('{1} and {0}'.format('san jose', 'santa clara'))

santa clara and san jose

In [4]:
print('{0}, {1}'.format('San Jose', 'Santa Clara'))

San Jose, Santa Clara

In [9]:
print('{2}'.format('San Jose', 'Santa Clara', 'Union City'))

Union City

In [10]:
print('{0} and {1}'.format('san jose'))

IndexError: Replacement index 1 out of range for positional args tuple

In [11]:
print('{0}'.format('san jose', 'santa clara'))

san jose

In [13]:
print('{nearcity} and {farcity}'.format(farcity="Sacremento", nearcity="San Jose"))

San Jose and Sacremento

In [15]:
import math
print("PI = %10.3f" % math.pi)

PI =      3.142

In [23]:
a = 5
b = 3.25
c = '5.6'
print('a = %03d, b=%5.2f, c = %s' %(a,b,c))

a = 005, b= 3.25, c = 5.6

In [25]:
num = 1234.56789
print(f"My 10 character, four decimal numer is: {num:{10}.{6}}")
print("My 10 character, four decimal number is {0:10.4f}".format(num))

My 10 character, four decimal numer is:    1234.57
My 10 character, four decimal number is  1234.5679

In [52]:
num = 23.45678
#num = 1234.56789
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")
print(f"{num:10.4f}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568
   23.4568

In [54]:
a = 10.1234
print(f"{a:.2f}")

10.12

In [55]:
a = 10.1234
print(f"{a:10.2f}")

     10.12

In [56]:
print("I am going to insert %s here." %"something")

I am going to insert something here.

In [58]:
print("I am going to insert %s here, and %s here." %("something", "more"))

I am going to insert something here, and more here.

In [60]:
x, y = "some", "more"
print("I am going to inject %s here, and %s here." %(x,y))

I am going to inject some here, and more here.

In [62]:
print("He said his name is %s." %'Fred')
print("He said his name is %r." %'Fred')

He said his name is Fred.
He said his name is 'Fred'.

In [65]:
print("I once caught a fish %s" %'this \tbig')
print("I once caught a fish %r" %'this \tbig')

I once caught a fish this 	big
I once caught a fish 'this \tbig'

In [67]:
print("I wrote %s programs today" %3.75)
print("I wrote %d programs today" %3.75)

I wrote 3.75 programs today
I wrote 3 programs today

In [75]:
print("Floating number is %5.2f" %(3.144))
print("Floating number is %1.0f" %(3.144))
print("Floating number is %1.5f" %(3.144))
print("Floating number is %10.2f" %(3.144))
print("Floating number is %25.2f" %(3.144))
print("Floating number is %.2f" %(3.144))

Floating number is  3.14
Floating number is 3
Floating number is 3.14400
Floating number is       3.14
Floating number is                      3.14
Floating number is 3.14

In [76]:
print("First %s, Second %5.2f, third %d" %('One', 23456.7895, 5000))

First One, Second 23456.79, third 5000

In [4]:
my_file = open('mytext.txt', 'w+')
my_file.write("Let's write the first line.\n")
my_file.write("Add second line.\n")
my_file.write("This is the third line.\n")
my_file.write("Finally, we are done!\n")

22

In [6]:
my_file.seek(0)
my_file.readlines()

["Let's write the first line.\n",
 'Add second line.\n',
 'This is the third line.\n',
 'Finally, we are done!\n']

In [7]:
my_file.close()

In [9]:
my_file = open("mytext.txt", "a+")
my_file.write("Forgot one thing. Let's add one more line...\n")

my_file.seek(0)
my_file.readlines()

["Let's write the first line.\n",
 'Add second line.\n',
 'This is the third line.\n',
 'Finally, we are done!\n',
 "Forgot one thing. Let's add one more line...\n"]