In [1]:
score_list = ['Judy Wolf, 63, 60, 73, 65, 69\n', \
              'Alice Wong, 70, 78, 79, 75, 72\n', \
              'Kevin Perterson, 88, 88, 82, 87, 89\n', \
              'Ken Miller, 100, 90, 95, 98, 99\n', \
              'Martin Hollowell, 65, 78, 66, 74, 80\n', \
              'Timothy Heck, 54, 56, 46, 58, 50\n', \
              'Cindy Kirk, 79, 82, 73, 89, 91\n', \
              'Jonathan Laird, 65, 75, 85, 90, 92\n', \
              'Helen Little, 55, 62, 70, 77, 81\n', \
              'Raymond Lott, 72, 61, 66, 71, 68\n', \
              'Brian Martin, 95, 96, 98, 99, 100\n', \
              'David Mercado, 90, 91, 93, 95, 97\n', \
              'Edward Pisco, 99, 97, 95, 90, 85\n', \
              'Frank Washington, 80, 83, 82, 87, 89\n', \
              'Greg Brock, 77, 73, 79, 65, 68\n', \
              'Ilia Caldwell, 72, 74, 83, 85, 90\n', \
              'Jeffrey Galdos, 65, 67, 69, 78, 83\n', \
              'Linda Hopkins, 87, 82, 94, 85, 92\n', \
              'Mary Hu, 76, 90, 83, 91, 87\n', \
              'Nathan Lee, 89, 91, 93, 95, 90\n']

f = open('scores.txt', 'w')
f.writelines(score_list)
f.close()

In [2]:
with open('scores.txt', 'r') as f:
    for line in f.readlines():
        cleaned_line = line.strip()
        if cleaned_line:
            print(cleaned_line)

Judy Wolf, 63, 60, 73, 65, 69
Alice Wong, 70, 78, 79, 75, 72
Kevin Perterson, 88, 88, 82, 87, 89
Ken Miller, 100, 90, 95, 98, 99
Martin Hollowell, 65, 78, 66, 74, 80
Timothy Heck, 54, 56, 46, 58, 50
Cindy Kirk, 79, 82, 73, 89, 91
Jonathan Laird, 65, 75, 85, 90, 92
Helen Little, 55, 62, 70, 77, 81
Raymond Lott, 72, 61, 66, 71, 68
Brian Martin, 95, 96, 98, 99, 100
David Mercado, 90, 91, 93, 95, 97
Edward Pisco, 99, 97, 95, 90, 85
Frank Washington, 80, 83, 82, 87, 89
Greg Brock, 77, 73, 79, 65, 68
Ilia Caldwell, 72, 74, 83, 85, 90
Jeffrey Galdos, 65, 67, 69, 78, 83
Linda Hopkins, 87, 82, 94, 85, 92
Mary Hu, 76, 90, 83, 91, 87
Nathan Lee, 89, 91, 93, 95, 90